<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My app</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

</head>
<body>
    <h1>Miprimera App con Flask</h1>
    <hr>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">Inicio</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{{url_for('factura')}}">Registrar Cliente</a></li>
            <li><a href="{{url_for('lista')}}">Lista Clientes</a></li>
             <li><a href="/json">Formato JSON</a></li>
        </ul>
    </div>
</nav>
    <table class="table table-bordered">
        <tr>
            <td>Numero Factura</td>
            <td>Fecha emision</td>
            <td>Fecha Radicacion</td>
            <td>Fecha Vencimiento</td>
            <td>Fecha Pago</td>
            <td>Valor Bruto</td>
            <td>IVA</td>
            <td>Eliminar</td>
            <td>Editar</td>
        </tr>
        {% for factura in factura %}
        <tr>
            <td>{{factura.numeroFactura}}</td>
            <td>{{factura.fechaEmision}}</td>
            <td>{{factura.fechaRadicacion}}</td>
            <td>{{factura.fechaVencimiento}}</td>
            <td>{{factura.fechaPago}}</td>
            <td>{{factura.valorBruto}}</td>
            <td>{{factura.iva}}</td>
            <td><a href="/eliminar/{{factura.numeroFactura}}"><span class="glyphicon glyphicon-trash"></span></a></td>
            <td><a href="actualizar/{{factura.numeroFactura}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>